.loginImgLogo{
  height: 140px;
  width: auto;
}

.charterBlue{
  background-color: #3156A4 !important;
}

.charterBorderBottom{
  border-color: #3156A4 !important;
}



@media  (min-width: 576px) and (max-width: 768px) {
 
}
  
  
  @media (max-width: 576px) {
    .loginImgLogo{
      height: 100px;
    }
  }